<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AvrDudeFix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AvrDudeFix.Properties.Settings>
            <setting name="UsbDevices" serializeAs="String">
                <value>"USB\VID_2341&amp;* USB\VID_0403&amp;*"</value>
            </setting>
        </AvrDudeFix.Properties.Settings>
    </userSettings>
</configuration>
